body{
    margin:0;
    padding:0;
    font-family:Sans-Serif;
}
.header{
    text-align: centre;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}
hr{
    border-width: 1px;
    margin-bottom: 50px;
    border-color: black;
}
.container{
    max-width:295px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto auto;
    grid-gap:10px 5px;
    width:100%;
    margin:auto;
}

.box-letter{
    height:45px;
    width:45px;
    font-size: 30px;
    text-transform: uppercase;
    border: 3px solid #ccc;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infobar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
  }

.correct {
    background-color: darkgreen;
    color: white;
}
  
.close {
    background-color: goldenrod;
    color: white;
}
  
.wrong {
    background-color: #888;
    color: white;
}

.spiral {
    font-size: 40px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .hidden {
    visibility: hidden;
  }